.pop-up {
    display: none;
    background: white;
    border: 5px solid cadetblue;
    position: fixed;
    top: 80px;
    margin-left: -400px;
    left: 50%;
    width: 800px;
    height: 300px;
    z-index: 5000;
}

.gameClose {
    background-image: url("../images/cancel.svg");
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    height:45px;
    width:45px;
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

.gameClose:hover {
    background-size: 45px 45px;
    cursor: pointer;
}

.gameContent {
    padding: 10px;
}

.gameContent ul {
    display: inline-block;
    width: 12%;
    vertical-align: top;
}

.gameContent li {
    height: 40px;
    border-bottom: solid thin;
    border-right: solid thin;
    border-color: black;
    text-align: left;
    vertical-align: top;
    list-style: none;
}

.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.gameContent li:first-child {
    text-align: center;
    vertical-align: bottom;
}

.gameContent li img{
    height: 70%;
}

.timer {
    position: fixed;
    display: inline-block;
    width: 200px;
    font-size: large;
    text-align: center;
    background-color: #9e9e9e;
    color: #fbfdff;

}