.pop-up {
    position: fixed;
    display: none;
    background-color: #1b1a2d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.98;
    z-index: 500;
}

.gameClose {
    background-image: url("../images/new/cancel.svg");
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    height:45px;
    width:45px;
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

.gameClose:hover {
    background-size: 45px 45px;
    cursor: pointer;
}

.gameContent {

    color: #FAFAFA;
    margin-top: 40px;
    text-align: center;
    align-content: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.gameContent ul {
    display: inline-block;
    vertical-align: top;
    width: 12%;

}

.gameContent ul li {
    height: 40px;
    border: solid thin;
    border-color: #fafafa;
    text-align: left;
    padding-left: 5px;
    list-style: none;
}

.saturday {
    color: #2e25ca;
    font-weight: 900;
}

.sunday {
    color: #b43a3b;
    font-weight: 900;
}

.gameContent li:first-child {
    text-align: center;
}

.gameContent ul li img {
    height: 90%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-left: 50px;
}

.month {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: #FAFAFA;
    margin-top: 200px;
}

.timer {
    font-size: large;
    font-weight: 300;
    background-color: #1b1a2d;
    color: #fbfdff;
    border-radius: 5px;
    border-color: #fafafa;
    margin-top: 40px;
    text-align: center;
}


.game-over {
    display: none;
    width: 150px;
    height: 36px;
    font-size: 1em;
    font-weight: 300;
    background-color: #1b1a2d;
    color: #fbfdff;
    border-radius: 5px;
    border: 2px solid white;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    vertical-align: middle;
    padding-top: 7px;
}
