#mainContent {
    margin: auto;
    padding-top: 1%;
    min-width: 800px;
}

.mainContentFunctions {
    display: inline-block;
    width: 25%;
    margin: 4%;
    text-align: center;
    vertical-align: top;
}

.mainContentFunctions img {
    width: 90%;
    transition: width 1s, height 1s;
}

.mainContentFunctions img:hover {
    height:93%;
    width: 93%;
}

.mainContentFunctions h1 {
    width: 90%;
    margin: auto;
    font-size: x-large;
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight:500;
}

.mainContentFunctions p {
    width: 90%;
    margin: auto;
    font-size: large;
    text-align: center;
    font-weight: 500;
}


.animate_right {
    -webkit-animation-name: fadeInRight;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;

}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animate {
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        /*-webkit-transform: translate3d(0, 100%, 0);*/
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        /*-webkit-transform: none;*/
        transform: none;
    }
}