.mainContent {
    margin: auto;
    padding-top: 1%;
    max-width: 1000px;
}

.mainContentFunctions {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.mainContentFunctions img {
    width: 80%;
    transition: width 1s, height 1s;
}

.mainContentFunctions img:hover {
    height:85%;
    width: 85%;
}

.mainContentFunctions h1 {
    width: 80%;
    margin: auto;
    font-size: x-large;
    padding-top: 4%;
    padding-bottom: 2%;
    font-weight:500;
}

.mainContentFunctions p {
    width: 80%;
    margin: auto;
    font-size: large;
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}


.animate_right {
    -webkit-animation-name: fadeInRight;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animate {
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        /*-webkit-transform: translate3d(0, 100%, 0);*/
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        /*-webkit-transform: none;*/
        transform: none;
    }
}