
.footer {
    border-top: 2px solid #e7e7e7;
    margin: auto;
    padding-bottom: 80px;
    color: #999999;
    font-size: 12px;
    text-align: center;
    background-color: #F1F1F1;
    height: 250px;
    display: ;
    align-content: center;
}
.footer a {
    text-decoration: none;
    color: #999999;
}
.container {
    padding-top: 30px;
    padding-bottom: 10px;
}
.row {
    display: inline-flex;
    text-align: justify;
}
.headerInFooter {
    font-weight: 500;
    color: #555555;
    font-size: 16px;
    line-height: 19px;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: list-item;
    list-style: none;
}
.contentInFooter {
    color: #999999;
    padding: 4px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    box-sizing: border-box;
    display: list-item;
    list-style: none;
    justify-content: center;
}

.col4 {
    width: 50px;
}
