.footer {
    padding: 17px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    font-family: Lato, "sans-serif";
    margin: 60px auto 0;
    color: #252525;
    font-size: 12px;
    text-align: center;
}