
#callToActionHeader {
    font-size: 2.5em;
    color: #252525; /* dark grey */
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 25px;
}

.callToActionText {
    font-size: 1.4em;
    color: #535353; /* light grey */
    font-weight: 500;
    text-align: justify;
    width: 1000px;
}

form {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

input {
    margin-top: 10px;
    height: 40px;
    width: 360px;
    border-radius: 5px;
    font-size: 1em;
    padding-left: 15px;
    padding-bottom: 4px;
    font-weight: 300;
}

#formButton {
    position: static;
    margin-top: 35px;
    padding: 0;
    height: 70px;
    width: 300px;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #212891; /* yellow */
    color: white;
    border: 1px solid #535353; /* grey */
    border-radius: 5px;
    opacity: 0.9;
    z-index: 10;
}

#formButton {
    background-color: #212891;
    opacity: 0.8;
    transition: 3550ms;
}

#formButton:hover {
    background-color: #212891;
    opacity: 1;
    transition: 600ms;
}

#formCheckbox {
    text-align: center;
    width: 15px;
    height: 15px;
    margin-top: 20px;
    position: relative;
    top: 2px;
    z-index: 9;
}

span#regulationsText {
    font-weight: 400;
    padding-left: 5px;
}

span#regulationsLink {
    text-decoration: underline;
}

span#regulationsLink a:link {
    color: blue;
}

span#regulationsLink a:visited {
    color: purple;
}

span#regulationsLink a:active {
    color: blue;
}

#checkbox {
    text-align: left;
}

.animate_outside {
    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
}

@keyframes zoomIn {
    from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
}

50% {
opacity: 1;
}
}


