.game-intro  {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #1b1a2d;
    opacity: 0.95;
    z-index: 100;
}

.game-intro > h1 {
    color: #FAFAFA;
    font-weight: 300;
    text-align: center;
    font-size: x-large;
    margin-bottom: 40px;
    margin-top: 250px;
}

.game-intro li {
    color: #fafafa;
    font-size: medium;
    font-weight: 300;
    justify-content: center;
    line-height: 250%;
    text-align: center;
}

.cancel-button {
    background-image: url("../images/new/cancel.svg");
    color: #FAFAFA;
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    height:35px;
    width:35px;
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
}


.cancel-button:hover {
    background-size: 35px 35px;
    cursor: pointer;
}

.game-button {
    font-size:1em;
    height:36px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #1b1a2d;
    text-align: center;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    display: block;
    color: #FAFAFA;
 }
