#zajawka {
    position: inherit;
    margin: 0;
    padding: 0;
}

#zajawka div {
    position: absolute;
    top: 70px;
    right: 200px;
    text-align: right;
    font-family: Lato, "Helvetica Neue LT Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    color: #dce0f2;
}

#zajawka img {
    display: block;
    width:100%;
}

#opis_zajawki p {
    font-family: Lato, sans-serif;
    font-size: 1.4em;
    color: #535353; /* light grey */
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
    font-weight: 500;
    width: 1000px;

}
#opis_zajawki h2 {
    font-family: Lato, sans-serif;
    font-size: 2.5em;
    color: #252525; /* dark grey */
    text-align: center;
    margin: auto;
    font-weight: 500;
    padding-top: 90px;
}