#zajawka {
    position: inherit;
    margin: 0;
    padding: 0;
}

#zajawka div {
    position: absolute;
    top: 100px;
    right: 60px;
    text-align: right;
    font-size: 2.5em;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1.1px;
}

#zajawka img {
    display: block;
    width:100%;
    padding-top: 70px;
}

#opis_zajawki p {
    font-size: 1.4em;
    color: #535353; /* light grey */
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
    font-weight: 500;
    width: 1000px;
}

#opis_zajawki h2 {
    font-size: 2.5em;
    color: #252525; /* dark grey */
    text-align: center;
    margin: auto;
    font-weight: 500;
    padding-top: 90px;
}