#intro{
    background:url(../IMAGES/panorama_gdanska.jpg) 83% 0 no-repeat fixed;
    height: 500px;
    margin: 0 0 70px 0;
    padding: 0;
    position: relative;
    top: 70px;
    box-shadow: 0 8px 12px rgba(100, 100, 100, 0.49);
}

#zajawka {
    margin: 0;
    padding: 0;
}

#zajawka p {
    position: absolute;
    right: 60px;
    text-align: right;
    font-size: 2.5em;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1.1px;
}


#opis_zajawki p {
    font-size: 1.4em;
    color: #535353; /* light grey */
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
    font-weight: 500;
    width: 1000px;
}

#opis_zajawki h1 {
    font-size: 2.5em;
    color: #252525; /* dark grey */
    text-align: center;
    margin: auto;
    font-weight: 500;
    padding-top: 90px;
}