.topNavBar {
    height: 70px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 100;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
}

.navbarContent {
    max-width: 1170px;
    margin: auto;
    height: 70px;
}

@keyframes rotate {
    to {transform: rotateZ(360deg);}
}


.logoInNavBar img {
    height: 43px;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

ul.navButtons {
    margin: auto;
}

ul.navButtons li {
    display: block;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    margin-bottom: 10px;
}

ul.navButtons li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

ul.navButtons li a:hover,
ul.navButtons li.active a {
    color: black;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-shadow: 1px 0 #000000;
    background-color: transparent;
}

.socialIconsInNavBar {
    display: inline-block;
    margin: auto;
}

.socialIcon {
    height: 36px;
    width: 36px;
    transition: background-size 0.3s;
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
}

.socialIcon:hover {
    background-size: 36px 36px;
}

.socialIcon-fb {
    background-image: url("../images/fb.svg");
}
.socialIcon-twitter {
    background-image: url("../images/tw.svg");}

.narrowingMenu {
    height: 50px;
    margin-top: -8px;
}
.socialIcon-google {
    background-image: url("../images/gg.svg");
}

.narrowingMenu {
    height: 50px;
    margin-top: -8px;
    padding-top: -30px;
    transition: height 0.5s ease, margin-top 0.5s ease, padding-top 0.5s ease;
}
.wideningMenu {
    height: 70px;
    margin-top: 0;
    padding-top: 0;
    transition: height 0.5s ease, margin-top 0.5s ease, padding-top 0.5s ease;
}

#formButtonInMenu {
    height: 36px;
    width: 100px;
    display: inline-block;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 1em;
    font-weight: 500;
    color: black;
    border: 2px solid black; /* grey */
    border-radius: 5px;
    z-index: 10;
    background-color: #f1f1f1;
    transition: background-color 0.5s, color 0.5s;
    vertical-align: baseline;
}

#formButtonInMenu:hover {
    background-color: black;
    color: white;
}