.topNavBar {
    height: 70px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 100;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    min-width: 1400px;
}

@keyframes rotate {
    to {transform: rotateZ(360deg);}
}


#logoInNavBar img {
    float: left;
    height: 55px;
    padding-top: 17px;
    margin-left: 200px;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}


ul.navButtons {
    float:left;
    display: inline-block;
    margin: 0 10px 15px 20px;
}

ul.navButtons li {
    display: inline-block;
    float: left;
    text-align: left;
    padding-top: 25px;
}

ul.navButtons li a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 400;
}

ul.navButtons li a:hover,
ul.navButtons li.active a {
    color: black;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-shadow: 1px 0 #000000;
}



.socialIconsInNavBar {
    float: right;
    padding-right: 200px;
}

.socialIcon {
    height: 36px;
    width: 36px;
    transition: background-size 0.3s;
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
}

.socialIcon:hover {
    background-size: 36px 36px;
}

.socialIcon-fb {
    background-image: url("../IMAGES/fb.svg");
}
.socialIcon-twitter {
    background-image: url("../IMAGES/tw.svg");
}
.socialIcon-google {
    background-image: url("../IMAGES/gg.svg");
}

.narrowingMenu {
    height: 50px;
    margin-top: -8px;
    padding-top: -30px;
    transition: height 0.5s ease, margin-top 0.5s ease, padding-top 0.5s ease;
}
.wideningMenu {
    height: 70px;
    margin-top: 0;
    padding-top: 0;
    transition: height 0.5s ease, margin-top 0.5s ease, padding-top 0.5s ease;
}