#topNavBar {
    height: 50px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 100;
}
#logoInNavBar img {
    float: left;
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 200px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

ul{
    float: left;
    padding-left: 75px;
}

li{
    text-decoration: none;
    display: inline;
    padding-left: 20px;
    font-family: Lato, sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}
li:hover {
    font-weight: 600;
}
#socialIconsInNavBar {
    float: right;
    padding-right: 200px;
}
.socialIcon1 img {
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    right: 180px;
    transition: width 0.5s, height 0.5s;
}
.socialIcon2 img {
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    right: 120px;
    transition: width 0.5s, height 0.5s;
}
.socialIcon3 img {
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    right: 60px;
    transition: width 0.5s, height 0.5s;
}
.socialIcon1 img:hover {
    height: 36px;
    width: 36px;
}

.socialIcon2 img:hover {
    height: 36px;
    width: 36px;
}

.socialIcon3 img:hover {
    height: 36px;
    width: 36px;
}