html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

li a {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    line-height: 140%;
}


.clear {
    clear: both;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


::selection {
    background-color: darkgrey;
    color: #000;
    text-shadow: 1px 1px #fff9ff;
}
a::selection {
    background-color: bisque;
    color: #000;
    text-shadow: 1px 1px #fff9ff;
}