@font-face

{

    font-family: Lato;

    src:url(../FONTS/Lato-Light.ttf);

}

body {
    margin: 0;
    background-color: #fbfdff;
}

.clear {
    clear: both;
}
.kontener {
    width: 1000px;
    margin: auto;
}
/*nowe ostylowanie nowego menu w nowym wydaniu*/

/*MENU*/
#top {
    height: 50px;
    background-color: #f1f1f1;
}
#logo img {
    float: left;
    height: 40px;
    width: 40px;
    padding-top: 5px;
}

ul{
    float: left;
}

li{
    text-decoration: none;
    display: inline;
    padding-left: 10px;
    font-family: Lato;
}

/*  SOCIAL MEDIA */
#social_menu {
    float: right;
}
.social_icon {
    float: left;
    padding-left: 20px;
    padding-top: 13px;
}
.social_icon img {
    height: 20px;
    width: 20px;
}
.social_icon img:hover {
    height: 25px;
    width: 25px;
}

#call_header {
    font-family: Lato, sans-serif;
    font-size: 2.5em;
    color: #252525; /* dark grey */
    text-align: center;
    text-decoration: none;
}

#call_text {
    font-family: Lato, sans-serif;
    font-size: 1.5em;
    color: #535353; /* light grey */
    text-align: center;
}

form {
    text-align: center;
    width: 100%;
    height: auto;
}

input {
    margin-top: 15px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    font-size: 1.2em;
    padding-left: 25px;
}

#button {
    font-family: Lato, sans-serif;
    margin-top: 35px;
    padding: 0;
    height: 70px;
    width: 300px;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #EBC844; /* yellow */
    color: white;
    border: 1px outset #535353; /* grey */
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.16), 0 17px 30px 0 rgba(0,0,0,0.15);
}

#button:hover {
    background-color: #EF8B2C; /* orange */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 20px 50px 0 rgba(0,0,0,0.3);
}

#checkbox {
    text-align: center;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    position: relative;
    top: 5px;
}

span {
    font-family: Lato;
    font-weight: 400;
}

/* koniec CSS Kuby */



/* CSS Krzysztofa */
#zajawka {
    position: relative;
    margin: 0;
    padding: 0;
}

#zajawka div {
    position: absolute;
    top: 80px;
    right: 50px;
    text-align: right;
    font-family: Lato, "Helvetica Neue LT Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    color: #c2f2e7;
}

#zajawka img {
    display: block;
    width:100%;

}



/* koniec CSS Krzysztofa */





#checkbox {
    text-align: left;
}

/*CSS MONIKI*/


h1 {
    font-family: Verdana, sans-serif;
    color: #62acff;
    font-size: large;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center
}

.left {
    display:inline-block;
    padding:1em;
    background-color: plum;
    width:150px;
    height:150px;
}

.center{
    display:inline-block;
    padding:1em;
    background-color:yellow;
    width:150px;
    height:150px;
}

.right{
    display:inline-block;
    padding:1em;
    background-color: #88ffb9;
    width:150px;
    height:150px;
}

/*KONIEC CSS MONIKI*/



.stopka {
    padding: 17px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-family: "Arial", "sans-serif";
    margin: 27px auto 60px;
    color: grey;
    font-size: 12px;
}
