@font-face {

    font-family: Lato;

    src:url(../FONTS/Lato-Light.ttf);
}

body {
    margin: 0;
    background-color: #fbfdff;
}

.clear {
    clear: both;
}

.kontener {
    width: 1000px;
    margin: auto;
}